@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratmedium';
    src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratitalic';
    src: url('../fonts/montserrat-italic-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
body#splashpage {
  background-image: url('../img/splash-screen-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'montserratregular', Helvetica, Arial, sans-serif;
}
header.header {
  width: 85%;
  height: 2rem;
  margin: 0 auto;
  padding-top: 2rem;
  box-sizing: border-box;
}
header.header .logo {
  float: left;
  display: inline-block;
  width: 2rem;
  height: 2rem;
}
label.menuicon {
  float: right;
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  z-index: 2;
  line-height: 0;
  cursor: pointer;
}
label.menuicon span {
  display: inline-block;
  width: 100%;
  height: .4rem;
  background-color: #e3e3e5;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
label.menuicon span:nth-child(2) {
  position: relative;
  top: .3rem;
}
label.menuicon span:nth-child(3) {
  position: relative;
  top: .6rem;
}

input#menuicon {
  display: none;
}
input#menuicon:checked + label.menuicon span {
  background-color: #fff;
}
input#menuicon:checked + label.menuicon span:nth-child(1) {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transform-origin: right bottom;
}
input#menuicon:checked + label.menuicon span:nth-child(2) {
  display: none;
}
input#menuicon:checked + label.menuicon span:nth-child(3) {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: right top;
  top: 1.15rem;
}
header.header nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111111;
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: scroll;
  display: none;
  z-index: 1;
}
ul.menu {
  list-style-type: none;
  margin: 4rem 0 0;
  padding: 0;
  text-align: center;
  line-height: 3;
}
@media only screen and (min-width: 64.063em) {
  ul.menu {
    margin-top: 8rem;
  }
}
ul.menu a,
ul.menu a:visited {
  color: #e3e3e5;
  text-decoration: none;
  font-family: 'montserratsemibold', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  display: inline-block;
}
@media only screen and (min-width: 64.063em) {
  ul.menu li {
    display: inline-block;
    padding: 0 1.5rem;
  }
}
ul.menu a:hover,
ul.menu a.current {
  text-decoration: underline;
}
ul.menu li.contact a {
  font-family: 'montserratregular', Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  border-top: 1px solid #959595;
  margin-top: 1rem;
  padding-top: 1rem;
}
@media only screen and (min-width: 64.063em) {
  ul.menu li.contact {
    display: block;
  }
  ul.menu li.contact a {
    border: none;
    margin: 0;
    padding: 0;
  }
}
input#menuicon:checked ~ nav {
  display: block;
}

ul.social-media-icons {
  margin-top: 5rem;
  padding: 0;
  text-align: center;
  list-style-type: none;
}
@media only screen and (min-width: 64.063em) {
  ul.social-media-icons {
    display: block;
  }
}
ul.social-media-icons li {
  display: inline-block;
}
ul.social-media-icons li a {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  width: 2rem;
  height: 2rem;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
ul.social-media-icons li a:hover {
  opacity: .6;
}
ul.social-media-icons li a.twitter-icon {
  background-image: url('../img/twitter-icon.svg');
  background-size: contain;
}
ul.social-media-icons li a.facebook-icon {
  background-image: url('../img/facebook-icon.svg');
  background-size: contain;
}
ul.social-media-icons li a.youtube-icon {
  background-image: url('../img/youtube-icon.svg');
  background-size: contain;
}

ul.company-data {
  padding: 0;
  color: #6c9db7;
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
  font-family: 'montserratbold', Helvetica, Arial, sans-serif;
  font-size: .8em;
}
@media only screen and (min-width: 64.063em) {
  ul.company-data {
    display: block;
  }
}
ul.company-data li {
  display: inline-block;
  padding: 0 .5rem;
}
ul.company-data a,
ul.company-data a:visited {
  color: #6c9db7;
  text-decoration: none;
  font-family: 'montserratregular', Helvetica, Arial, sans-serif;
}
ul.company-data a:hover {
  text-decoration: underline;
}
button {
  background-color: #6c9db7;
  color: #e3e3e5;
  font-family: 'montserratsemibold', Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  border: 0;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: .6rem 2rem;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
button:hover {
  background-color: #81bedf;
}

section.welcome {
  position: fixed;
  bottom: 0;
  width: 100%;
}
section.welcome .wrapper {
  width: 80%;
  margin: 0 auto 7rem;
  text-align: center;
}
section.welcome h1 {
  font-size: 2.3em;
  color: #e3e3e5;
  margin-bottom: 0;
}
section.welcome p {
  font-family: 'montserratitalic', Helvetica, Arial, sans-serif;
  color: #939393;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 2.5rem;
  padding-top: 0;
}
@media only screen and (min-width: 64.063em) {
  section.welcome {
    background: rgba(0, 0, 0, 0.5);
    width: 50%;
    height: 100%;
    right: 0;
    bottom: 0;
    overflow: scroll;
  }
  section.welcome .wrapper {
    width: 80%;
    margin: 13rem auto 0;
    padding-top: 1em;
    text-align: center;
  }
  section.welcome h1 {
    margin-top: 2rem;
  }
}
section.welcome ul.social-media-icons {
  margin-top: 10rem;
}

.hide {
  display: none;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
* contenteditable attribute is included anywhere else in the document.
* Otherwise it causes space to appear at the top and bottom of elements
* that receive the clearfix class.
* 2. The use of table rather than block is only necessary if using
* :before to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}

.clearfix:after {
clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
*zoom: 1;
}
